.contact__body {
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.contact__body__header {
    position: absolute;
    height: 60px;
    top: 10%;
    width: 90%;
    text-align: center;
    border-bottom: 2px solid var(--primary-color);
}
.contact__content {
    display: flex;
    align-items: center;
    .contact__info {
        width: 50%;
    }
    .contact__form {
        width: 50%;
    }
}
.contact__info__icon {
    height: 24px;
    width: 24px;
}
.contact__form__name__email {
    display: flex;
    justify-content: space-between;
    height: 36px;
    .contact__form__content__name {
        width: 48%;
        input {
            width: 100%;
            height: 32px;
        }
    }
    .contact__form__content__email {
        width: 48%;
        input {
            width: 100%;
            height: 32px;
        }
    }
}

.contact__form__name__message {
    height: 36px;
    input {
        width: 100%;
        height: 32px;
    }
}
.contact__form__name__submit {
    height: 36px;
    float: right;
    input {
        height: 32px;
        border: none;
        border-radius: 2px;
        &:hover {
            cursor: pointer;
            background-color: var(--primary-color);
            color: var(--text-color-light);
        }
    }
}
