.navbar__img__mobile {
    display: none;
}
.navbar__btn__mobile {
    display: none;
}
.navbar__list__mobile {
    display: none;
}
.navbar__overlay {
    display: none;
}
#navbar__mobile__input {
    display: none;
}
.navbar {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.navbar__list {
    padding: 0;
    min-width: 600px;
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
}
.navbar__item {
    min-width: 100px;
    a {
        border: 1px solid var(--primary-color);
        border-radius: 10px;
        margin: 10px 0;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            opacity: 0.6;
            // background-color: #212b31;
            // color: black;
        }
    }
}
