@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --black: #000;
    --primary-color: #10375c;
    --background-color: #ced6db;
}
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-rendering: optimizeSpeed;
    margin: 0;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}
