@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root {
    --black: #000;
    --primary-color: #324861;
    --text-color-light: #ced6db;
    --background-color-sidebar: #0d0e22;
    --background-color-content: #ced6db;
    --background-content: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    height: 100vh;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-rendering: optimizeSpeed;
    margin: 0;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color-light);
}
